.main-box {
    left: 24.22%;
    right: 3.91%;
    top: 168px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.03);
    border-radius: 8px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.bb-action {
    width: 240px;
    height: 56px;
    /* Import/primary */
    background: #FF7640;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    /* Import/white */
    color: #FFFFFF;
}

.bb-action-ex {
    width: 240px;
    height: 56px;
    /* Import/primary */
    background: #BB6BD9;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    /* Import/white */
    color: #FFFFFF;
}

.bb-action-carm {
    width: 240px;
    height: 56px;
    /* Import/primary */
    background: #ecb347;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    /* Import/white */
    color: #FFFFFF;
}

.bb-action-fda {
    width: 240px;
    height: 56px;
    /* Import/primary */
    background: #50e3c2;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    /* Import/white */
    color: #FFFFFF;
}


.xbtny {

    border-radius: 8px;

}

.btnh2 {
    /* menu hover */
    box-sizing: border-box !important;

    height: 48px !important;
    border-radius: 12px !important;
    border: 1px solid #FFFFFF !important;
}

.btnh2:hover {
    /* menu hover */

    box-sizing: border-box !important;

    height: 48px !important;
    border-radius: 12px !important;
    border: 1px solid #FFFFFF !important;
}

.btnh3 {
    /* menu hover */

    box-sizing: border-box !important;
    width: 142px !important;
    height: 48px !important;
    border-radius: 12px !important;
    color: white;
    box-shadow: 0px 10px 10px -5px rgba(52, 195, 143, 0.2), 0px 20px 30px -10px rgba(52, 195, 143, 0.3);
    border-radius: 12px;
    transform: rotate(-0.57deg);

}

.btnh3:hover {
    /* menu hover */

    box-sizing: border-box !important;
    width: 142px !important;
    height: 48px !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 12px !important;
}



.main-padding {
    margin-bottom: 30px;
    padding-top: 24px;
    padding-left: 59px;
    padding-right: 59px;
}

.main-paddinge {
    margin-bottom: 30px;
    padding-top: 24px;
    padding-left: 35px;
    padding-right: 35px;
}

.bb-inaction {

    width: 240px;
    height: 56px;

    /* Import/white */
    background: #FFFFFF;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #212529;

}

.txt-title {
    margin-left: 16px !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 20px !important;
    color: #495057;
}

.tab2-action>.items-center>span.txt-title {
    margin-left: 16px !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 20px !important;
    color: #FF7640;
}


@media only screen and (max-width: 1200px) {

    .bb-action,
    .bb-action-ex {
        width: auto;
        padding: 16px;
    }

    .bb-inaction {
        width: auto;
        padding: 16px;
    }
}




@media only screen and (max-width: 1600px) {
    .rrt {
        margin-left: 0px;
    }

    .main-padding {
        padding: 20px;
    }


}




.ico {

    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;

}





.btn-infox {

    /* Rectangle 1003 */
    box-sizing: border-box;
    height: 48px;
    width: 48px;
    /* Import/white */
    background: #FFFFFF;
    /* Import/gray4 */
    border: 1px solid #CED4DA;
    border-radius: 8px;
}

.ico-infox {

    margin-left: 24%;

}

.dropdown-card {
    margin-top: 56px;
    margin-right: 120px;
    box-sizing: border-box;
    height: 272px;
    width: 362px;
    background: #FFFFFF;
    /* Import/line */
    border: 1px solid #EFF2F7;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;

}

.tab2-action {


    left: 524px;
    top: 264px;
    background: #FFEAE3;
    border-radius: 8px 0px 0px 8px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* Import/primary */
    color: #FF7640 !important;
}

.tab2-action-export {


    left: 524px;
    top: 264px;
    background: #F3E6FC;
    border-radius: 8px 0px 0px 8px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* Import/primary */
    color: #F3E6FC !important;
}

.tab2-action-goods {
    left: 524px;
    top: 264px;
    background: #FCE6F6;
    border-radius: 8px 0px 0px 8px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* Import/primary */
    color: #FCE6F6 !important;
}

.tab2-action-carm {
    left: 524px;
    top: 264px;
    background: #f3eeb6;
    border-radius: 8px 0px 0px 8px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* Import/primary */
    color: #fcfae6 !important;
}

.tab2-action-fda {
    left: 524px;
    top: 264px;
    background: #ebfce6;
    border-radius: 8px 0px 0px 8px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* Import/primary */
    color: #fcfae6 !important;
}

.tab4-action-goods {
    left: 524px;
    top: 264px;
    background: #FCE6F6;
    border-radius: 0px 8px 8px 0px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* Import/primary */
    color: #FCE6F6 !important;
}

.tab4-action-carm {
    left: 524px;
    top: 264px;
    background: #ecb347;
    border-radius: 0px 8px 8px 0px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* Import/primary */
    color: #ecb347 !important;
}

.tab4-action-fda {
    left: 524px;
    top: 264px;
    background: #eefce6;
    border-radius: 0px 8px 8px 0px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* Import/primary */
    color: #FCE6F6 !important;
}

.tab3-action-goods {
    left: 524px;
    top: 264px;
    background: #FCE6F6;
    border-radius: 0px 0px 0px 0px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* Import/primary */
    color: #FCE6F6 !important;
}

.tab3-action-carm {
    left: 524px;
    top: 264px;
    background: #eee0c7;
    border-radius: 0px 0px 0px 0px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* Import/primary */
    color: #f0e1c7 !important;
}

.tab3-action-fda {
    left: 524px;
    top: 264px;
    background: #eff8e9;
    border-radius: 0px 0px 0px 0px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* Import/primary */
    color: #FCE6F6 !important;
}
.tab2-actionplus {

    height: 44px;
    left: 524px;
    top: 264px;
    background: #FFEAE3;
    border-radius: 8px 0px 0px 8px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* Import/primary */
    color: #FF7640;
}

@media only screen and (max-width: 600px) {
    .tab2-actionplus {
        height: 64px;
        background: #FFEAE3;
        border-radius: 8px 0px 0px 8px;
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #FF7640;
    }

}

.rbg {
    background: #FF7640;
}

.rbgx {
    background: #F15412;
}

.bbg {
    border-color: #FF7640;
}

.tbg {
    color: #FF7640;
}
.tbg2 {
    color: #9B51E0;
}
.tbg3 {
    color: #DB89D7;
}
.tbg4 {
    color: #e0c879;
}
.tbg5 {
    color: #ecb347;
}
.tbg6 {
    color: #50e3c2;
}
.round-ring {
    width: 24px !important;
    height: 24px;
    background: #FF7640;
    border-radius: 50px;
    color: white;
}

.round-ring-export {
    width: 24px !important;
    height: 24px;
    background: #9B51E0;
    border-radius: 50px;
    color: white;
}

.round-ring-goods {
    width: 24px !important;
    height: 24px;
    background: #DB89D7;
    border-radius: 50px;
    color: white;
}

.round-ring-carm {
    width: 24px !important;
    height: 24px;
    background: #d4c77c;
    border-radius: 50px;
    color: white;
}

.round-ring-fda {
    width: 24px !important;
    height: 24px;
    background: #90d47c;
    border-radius: 50px;
    color: white;
}

.txt-ring {
    width: 24px !important;
    height: 24px !important;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;


}



.btn-bar-x {
    padding-left: 0;
    padding-right: 0;
}

.bar-txt2 {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 139% */
    text-align: center;

    /* Import/gray1 */
    color: #495057;

}

.bar-txt3 {

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    /* Import/white */
    color: #FFFFFF;


}

.br {
    border-radius: 8px;
}


.boxslide {
    width: 300px;
    height: 114px;
    left: -2.08%;
    right: -2.08%;
    top: 0%;
    bottom: 49.11%;

    /* Import/white */
    background: #FFFFFF;
    border-radius: 14px;
}

.boxslide-title {
    /* Rectangle 58 */
    width: 300px;
    height: 48px;

    /* Import/primary */
    background: #FF7640;
    border-radius: 14px 14px 0px 0px;

}

.boxslide-txt {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 19px;

}

.boxslide-ico {
    margin-right: 12px;
}

.boxslide-btn {
    margin-right: 16.5px;
    /* Component 56 */
    width: 28px;
    height: 23px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    gap: 10px;
    margin-left: 60px;
    /* Import/green */
    background: #34C38F;
    border-radius: 4px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    /* identical to box height, or 92% */
    text-align: center;

    /* Import/white */
    color: #FFFFFF;

}

.boxslide-detail {
    /* 0001-001 */
    margin-top: 9px;
    margin-left: 19px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 139% */

    /* Import/gray1 */
    color: #495057;


}


.f2 {
    /* Page : */
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    /* Import/gray2 */
    color: #74788D;


}

.rrt {
    margin-left: 32px;

}

@media only screen and (max-width: 1600px) {
    .rrt {
        margin: 0px;
        margin-left: 30px;
    }

    .rrtt {
        margin-top: 0px !important;
    }
}

@media only screen and (max-width: 800px) {
    .rrt {
        margin: 0px;
    }

    .rrtt {
        margin-top: 0px !important;
    }
}


@media only screen and (max-width: 600px) {
    .rrt {
        margin: 0;
    }
}


.rrtf {
    height: 44px;
}


@media only screen and (max-width: 1367px) {
    .rrtf {
        height: auto;
    }
}

.head1txt {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.005em;

    /* Import/black */

    color: #212529;
}

.head5txt {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

@media only screen and (max-width: 1400px) {
    .head5txt {
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 48px;
        color: #FFFFFF;
    }
}

/* Header import decleation  */
@media only screen and (max-width: 1440px) {
    .btnh {
        width: 100px !important;
    }

    .btextP {
        font-size: 13px !important;
    }

    /* Export Declaration header btn */
    .btnh3 {
        width: 100px !important;
        font-size: 13px !important;
    }
}







